.contacts {
  display: flex;
  align-items: center;

  margin-right: 15px;
}

.contacts__image {
  stroke: $color-bluish-black;
}

.contacts__phone {
  margin-left: 12px;

  @include font(18px, 32px, $font-weight-normal);
  text-decoration: underline;
  color: $color-black;
}
