// Font
$font-family: "Montserrat", "Roboto", sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Media
$width-mobile-min: 320px;
$width-mobile-max: 767px;
$width-tablet-min: 768px;
$width-tablet-max: 1023px;
$width-desktop-min: 1024px;
$width-desktop-max: 1920px;

// Colors
$color-white: #FFFFFF;
$color-black: #000000;

$color-gainsboro: #DADADA;
$color-bittersweet: #FE7865;
$color-fire-orange: #F17D4B;
$color-bluish-black: #141517;

$color-granite: #2C2E3F;
$color-snow: #FBF8F8;
